.form-fold {
  margin: 10px 0;

  .form-fold-label {
    margin-left: 24px;
    cursor: pointer;
    line-height: 22px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;

    .text {
      padding-left: 8px;
    }
  }

  .no-footer-border {
    height: 0;
  }
}

.contianer {
  display: flex;
  justify-content: space-between;
  line-height: 22px;
}

.hidden {
  height: 0;
  overflow: hidden;
}
