.container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.back-component {
  .back {
    display: flex;
    padding: 0 12px 10px 16px;
    color: rgba(0, 0, 0, 0.85);
    margin-right: 16px;
    cursor: pointer;
    line-height: 28px;
    height: 38px;

    .main-title {
      color: rgba(0, 0, 0, 0.85);
      display: inline;
      font-size: 20px;
    }

    &:hover {
      color: #6696ff;
    }

    &:active {
      color: #6696ff;
    }

    .anticon {
      margin-right: 16px;
      height: 28px;
      font-size: 16px;
    }
  }

  .back-content {
    padding-left: unset;
  }
}
